.feedback {
  margin-top: 50px; /* Adjust the value as needed */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*background-image: url('https://img.freepik.com/free-photo/arrangement-with-different-expressions_23-2148857191.jpg?w=996&t=st=1703854652~exp=1703855252~hmac=4351053a72758d022453368ec198bf4884f975c2499a97c6a6b6578238b92d64');*/
  background-size: cover;
}
.feedbackbtn{
  margin-top: 32px;
}
.field {
  margin: 40px;
}

.feedback h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.feedback select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* Media query for larger screens */
@media screen and (min-width: 1200px) {
.feedback {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
}