*{
  font-family: sans-serif;
}
.make-quiz-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.leftside1 {
  width: 52%;
  /* background: rgba(237, 240, 241, 0.66); */
  background-color: #2596be;
  padding: 120px 10px 0 10px;
  margin: -20px 0 0 -20px;
  height: 65rem;
  border-radius: 4px;

}

.leftside1 h2{
  margin: 0 0 45px 0;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.leftside1 button {
  margin: 24px 18px 0px 22px;
}

.leftside1 input[type="text"] {
  width: 350px;
  padding: 4px;
  margin: 4px 0 10px 0 ;
  border-radius: 4px;
  /* background-color: #dee9f17e; */
}

.leftside1 select{
  text-align: center;
  font-weight: bold;
  width: 190px;
  height: 40px;
  margin: 4px 0 30px 0 ;
  border-radius: 4px;

}
.rightside {
  width: 52%;
  margin: -20px 0 0 0;
  padding: 112px 0 0 12px;
  background: rgba(237, 236, 235, 0.404);
  height: 65rem;
  text-align: left;
  /* border-radius: 10px; */

}

.rightside h2 {
  text-align: center;
}

.quiz-list {
  list-style-type: none;
  padding: 0;
}

.quiz-list li {
  margin-bottom: 24px;
  border-bottom: 4px solid #171313;
  /* font-weight: bold; */
}

.quiz-list ol {
  list-style-type: decimal;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 0;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .make-quiz-wrapper {
    flex-direction: column;
  }

  .leftside1,
  .rightside {
    width: 100%;
    margin: 20px 0;
  }

  .leftside1 {
    height: auto;
  }

  .leftside1 button {
    margin: 24px 12px 0 22px;
  }

  .leftside1 input[type="text"] {
    width: calc(100% - 8px);
    margin: 4px auto;
  }

  .rightside {
    margin: 18px auto 0 auto;
  }
}

.rightside h2{
  color: black;
}
