.std-container {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.rectangle-box {
  margin: 160px 0 0 0px;
  padding: 10px;
  width: "300px";
  height: fit-content;
  border: 1px solid #e19090;
  background-color: #2FC699;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.rectangle-box:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.rectangle-box p {
  color: white;
  font-size: 20px;
  font-family: 'Tahoma', sans-serif;
}

.rectangle-horizontal {
  margin: 160px 10px 0 100px;
  padding: 34px;
  width: fit-content;
  height: 404px;
  border: 1px solid #e19090;
  background-color: #2FC699;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.rectangle-horizontal:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.rectangle-horizontal p {
  color: white;
  font-size: 20px;
  font-family: 'Tahoma', sans-serif;
  font-display: block;
}

.image-container {
  margin: -70px 0px 38px 74px;
  padding: 30px 0 0 0;
  height: auto;
  background-color: brown;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: box-shadow 0.3s ease;

  background-image: url('profilepicture1.jpg');
  background-size: cover;
  background-position: center;
}

.image-container:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.info-container {
  line-height: 1.5;
  width: fit-content;
  overflow: auto;
  height: 300px;
}
.info-container2 {
  line-height: 1.5;
  width: 900px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .std-container {
    flex-direction: column;
  }

  .rectangle-box,
  .rectangle-horizontal {
    width: auto;
    margin: 20px;
  }

  .image-container {
    margin-right: 0;
  }
}
